
/**
 * @summary Initializes a slds tree
 */
:host([data-render-mode="shadow"]) .slds-tree__item {
  display: flex;
  padding-block-start: calc(var(--slds-g-spacing-1) * 1.5);
  padding-block-end: calc(var(--slds-g-spacing-1) * 1.5);
  padding-inline-start: var(--slds-g-spacing-4);
  padding-inline-end: 0;
}
/**
 * @name item-hovered
 */
:host([data-render-mode="shadow"]) .slds-tree__item.slds-is-hovered,:host([data-render-mode="shadow"]) 
.slds-tree__item:hover {
  background: var(--slds-g-color-surface-container-2);
  cursor: pointer;
}
/**
 * @summary Styles the focus and selected state for any tree item that has role="treeitem"
 */
:host([data-render-mode="shadow"].slds-tree [role='treeitem']):focus .slds-tree__item {
  background: var(--slds-g-color-surface-container-2);
  cursor: pointer;
  text-decoration: underline;
}
:host([data-render-mode="shadow"][aria-selected='true']) .slds-tree__item {
  background: var(--slds-g-color-brand-base-90);
  box-shadow: var(--slds-g-color-accent-1) 4px 0 0 inset;
}
:host([data-render-mode="shadow"][aria-selected='true']) .slds-tree__item:dir(rtl) {
  box-shadow: var(--slds-g-color-accent-1) -4px 0 0 inset;
}
:host([data-render-mode="shadow"][aria-disabled='true']) {
  color: var(--slds-g-color-disabled-1);
}
:host([data-render-mode="shadow"][aria-disabled='true']) .slds-tree__item.slds-is-hovered,:host([data-render-mode="shadow"][aria-disabled='true']) .slds-tree__item:hover {
  background-color: transparent;
  cursor: default;
}
:host([data-render-mode="shadow"][aria-disabled='true']) .slds-tree__item-meta {
  color: inherit;
}
:host([data-render-mode="shadow"].slds-tree) [role='group'] {
  display: none;
}
:host([data-render-mode="shadow"][aria-expanded='true']) [role='group'] {
  display: block;
}
:host([data-render-mode="shadow"]) .slds-button_icon {
  line-height: var(--slds-g-font-lineheight-1);
  vertical-align: middle;
  justify-content: center;
  color: var(--slds-g-color-neutral-base-50);
}
:host([data-render-mode="shadow"][aria-expanded='false']) .slds-tree__item .slds-button_icon {
  transition: 0.2s transform ease-in-out;
  transform: rotate(0deg);
}
:host([data-render-mode="shadow"][aria-expanded='true']) .slds-tree__item .slds-button_icon {
  transition: 0.2s transform ease-in-out;
  transform: rotate(90deg);
}
:host([data-render-mode="shadow"][aria-expanded='true']) .slds-tree__item .slds-button_icon:dir(rtl) {
  transition: 0.2s transform ease-in-out;
  transform: rotate(-90deg);
}
/**
* @summary The label text of a tree item or tree branch
*/
:host([data-render-mode="shadow"]) .slds-tree__item-label {
  display: block;
}
:host([data-render-mode="shadow"]) .slds-tree__item a {
  color: var(--slds-g-color-neutral-base-10);
  text-decoration: none;
}
:host([data-render-mode="shadow"]) .slds-tree__item a:focus {
  outline: 0;
  text-decoration: underline;
}
/**
* @summary The meta text or secondary text of a tree item
*/
:host([data-render-mode="shadow"]) .slds-tree__item-meta {
  display: block;
  color: var(--slds-g-color-neutral-base-30);
}
:host([data-render-mode="shadow"]) .slds-tree__item .slds-button {
  align-self: flex-start;
  margin-block-start: calc(var(--slds-g-spacing-1) / 2);
}
:host([data-render-mode="shadow"]) .slds-tree__item .slds-pill {
  margin-inline-start: var(--slds-g-spacing-3);
}
:host([data-render-mode="shadow"][aria-level='1']) .slds-tree__item {
  padding-inline-start: var(--slds-g-spacing-4);
}
:host([data-render-mode="shadow"][aria-level='2']) .slds-tree__item {
  padding-inline-start: calc(var(--slds-g-spacing-4) * 2);
}
:host([data-render-mode="shadow"][aria-level='3']) .slds-tree__item {
  padding-inline-start: calc(var(--slds-g-spacing-4) * 3);
}
:host([data-render-mode="shadow"][aria-level='4']) .slds-tree__item {
  padding-inline-start: calc(var(--slds-g-spacing-4) * 4);
}
:host([data-render-mode="shadow"][aria-level='5']) .slds-tree__item {
  padding-inline-start: calc(var(--slds-g-spacing-4) * 5);
}
:host([data-render-mode="shadow"][aria-level='6']) .slds-tree__item {
  padding-inline-start: calc(var(--slds-g-spacing-4) * 6);
}
:host([data-render-mode="shadow"][aria-level='7']) .slds-tree__item {
  padding-inline-start: calc(var(--slds-g-spacing-4) * 7);
}
:host([data-render-mode="shadow"][aria-level='8']) .slds-tree__item {
  padding-inline-start: calc(var(--slds-g-spacing-4) * 8);
}
:host([data-render-mode="shadow"][aria-level='9']) .slds-tree__item {
  padding-inline-start: calc(var(--slds-g-spacing-4) * 9);
}
:host([data-render-mode="shadow"][aria-level='10']) .slds-tree__item {
  padding-inline-start: calc(var(--slds-g-spacing-4) * 10);
}
:host([data-render-mode="shadow"][aria-level='11']) .slds-tree__item {
  padding-inline-start: calc(var(--slds-g-spacing-4) * 11);
}
:host([data-render-mode="shadow"][aria-level='12']) .slds-tree__item {
  padding-inline-start: calc(var(--slds-g-spacing-4) * 12);
}
:host([data-render-mode="shadow"][aria-level='13']) .slds-tree__item {
  padding-inline-start: calc(var(--slds-g-spacing-4) * 13);
}
:host([data-render-mode="shadow"][aria-level='14']) .slds-tree__item {
  padding-inline-start: calc(var(--slds-g-spacing-4) * 14);
}
:host([data-render-mode="shadow"][aria-level='15']) .slds-tree__item {
  padding-inline-start: calc(var(--slds-g-spacing-4) * 15);
}
:host([data-render-mode="shadow"][aria-level='16']) .slds-tree__item {
  padding-inline-start: calc(var(--slds-g-spacing-4) * 16);
}
:host([data-render-mode="shadow"][aria-level='17']) .slds-tree__item {
  padding-inline-start: calc(var(--slds-g-spacing-4) * 17);
}
:host([data-render-mode="shadow"][aria-level='18']) .slds-tree__item {
  padding-inline-start: calc(var(--slds-g-spacing-4) * 18);
}
:host([data-render-mode="shadow"][aria-level='19']) .slds-tree__item {
  padding-inline-start: calc(var(--slds-g-spacing-4) * 19);
}
:host([data-render-mode="shadow"][aria-level='20']) .slds-tree__item {
  padding-inline-start: calc(var(--slds-g-spacing-4) * 10);
}
