/**
 * Input container
 * ---
 * The Input Control Container holds the `start` and `end` slot contents, as well as the input control itself
 */
[part~='input-container'] {
  display: flex;
  align-items: center;
  gap: var(--sds-c-inputtext-spacing-gap, var(--sds-s-input-spacing-gap));
  min-height: var(--sds-c-inputtext-sizing-height, var(--sds-s-input-sizing-height));
  padding-inline-start: var(
    --sds-c-inputtext-spacing-inlinestart,
    var(--sds-c-inputtext-spacing-inline, var(--sds-s-input-spacing))
  );
  padding-inline-end: var(
    --sds-c-inputtext-spacing-inlineend,
    var(--sds-c-inputtext-spacing-inline, var(--sds-s-input-spacing))
  );
  padding-block-start: var(
    --sds-c-inputtext-spacing-blockstart,
    var(--sds-c-inputtext-spacing-block, var(--sds-s-input-spacing))
  );
  padding-block-end: var(
    --sds-c-inputtext-spacing-blockend,
    var(--sds-c-inputtext-spacing-block, var(--sds-s-input-spacing))
  );
  background: var(--sds-c-inputtext-color-background, var(--sds-s-input-color-background));
  border-block-start: var(
      --sds-c-inputtext-sizing-border-blockstart,
      var(--sds-c-inputtext-sizing-border, var(--sds-g-sizing-border-1))
    )
    solid
    var(
      --sds-c-inputtext-color-border-blockstart,
      var(--sds-c-inputtext-color-border, var(--sds-s-input-color-border, currentColor))
    );
  border-inline-start: var(
      --sds-c-inputtext-sizing-border-inlinestart,
      var(--sds-c-inputtext-sizing-border, var(--sds-g-sizing-border-1))
    )
    solid
    var(
      --sds-c-inputtext-color-border-inlinestart,
      var(--sds-c-inputtext-color-border, var(--sds-s-input-color-border, currentColor))
    );
  border-inline-end: var(
      --sds-c-inputtext-sizing-border-inlineend,
      var(--sds-c-inputtext-sizing-border, var(--sds-g-sizing-border-1))
    )
    solid
    var(
      --sds-c-inputtext-color-border-inlineend,
      var(--sds-c-inputtext-color-border, var(--sds-s-input-color-border, currentColor))
    );
  border-block-end: var(
      --sds-c-inputtext-sizing-border-blockend,
      var(--sds-c-inputtext-sizing-border, var(--sds-g-sizing-border-1))
    )
    solid
    var(
      --sds-c-inputtext-color-border-blockend,
      var(--sds-c-inputtext-color-border, var(--sds-s-input-color-border, currentColor))
    );
  border-radius: var(--sds-c-inputtext-radius-border, var(--sds-s-input-radius-border));
  box-shadow: var(--sds-c-inputtext-shadow, var(--sds-s-input-shadow));
}

/**
 * Input Control
 * ---
 * The input control is the actual input element
 * We normalize the input since styles are being hoisted to the input-container element
 */
[part~='input'] {
  width: 100%;
  height: 100%;
  padding: 0;
  font-size: var(--sds-c-inputtext-font-size, var(--sds-s-input-font-size));
  color: var(--sds-c-inputtext-text-color, var(--sds-s-input-text-color));
  line-height: 1;
  border: none;
  background: transparent;
}

/**
 * Actively typing in text input
 * ---
 * The active attribute gets applied the oninput event to inidicate the user inputting text
 * This is a workaround for the lack of a :active-within selector in CSS
 */
:host([active]) [part~='input-container'] {
  --sds-c-inputtext-color-background: var(
    --sds-c-inputtext-color-background-active,
    var(--sds-s-input-color-background-active)
  );
  --sds-c-inputtext-color-border: var(
    --sds-c-inputtext-color-border-active,
    var(--sds-s-input-color-border-active)
  );
  --sds-c-inputtext-shadow: var(--sds-c-inputtext-shadow-active, var(--sds-s-input-shadow-active));
}

/**
 * Placeholder text
 */
[part~='input']::placeholder {
  color: var(--sds-c-inputtext-text-color-placeholder, var(--sds-s-input-text-color-placeholder));
  font-style: var(--sds-c-inputtext-font-style-placeholder, var(--sds-s-input-font-style-placeholder));
}

/**
 * Input container when it receives focus-within
 * ---
 * Fallback order: focus > base
 */
[part~='input-container']:focus-within {
  --sds-c-inputtext-color-border: var(
    --sds-c-inputtext-color-border-focus,
    var(--sds-s-input-color-border-focus, revert)
  );
  --sds-c-inputtext-shadow: var(--sds-c-inputtext-shadow-focus, var(--sds-s-input-shadow-focus));
  --sds-c-inputtext-color-background: var(
    --sds-c-inputtext-color-background-focus,
    var(--sds-s-input-color-background-focus, revert)
  );
  --sds-c-inputtext-text-color: var(
    --sds-c-inputtext-text-color-focus,
    var(--sds-s-input-text-color-focus, revert)
  );
}

/**
 * Remove the default focus outline since we are hoisting those styles to the input-container using focus-within
 */
[part~='input']:focus {
  outline: none;
}

/**
 * Label Container
 * ---
 * The container for the label and its adjacent slots, label-start and label-end
 */
[part='label-container'] {
  display: inline-flex;
  align-items: center;

  /* Need to tweak stylelint to merge new shared groups into existing set, label is not available */
  gap: var(--sds-c-inputtext-label-spacing-gap, var(--sds-s-label-spacing-gap));
  padding-inline-start: var(
    --sds-c-inputtext-label-spacing-inlinestart,
    var(--sds-c-inputtext-label-spacing-inline, var(--sds-s-label-spacing))
  );
  padding-inline-end: var(
    --sds-c-inputtext-label-spacing-inlineend,
    var(--sds-c-inputtext-label-spacing-inline, var(--sds-s-label-spacing))
  );
  padding-block-start: var(
    --sds-c-inputtext-label-spacing-blockstart,
    var(--sds-c-inputtext-label-spacing-block, var(--sds-s-label-spacing))
  );
  padding-block-end: var(
    --sds-c-inputtext-label-spacing-blockend,
    var(--sds-c-inputtext-label-spacing-block, var(--sds-s-label-spacing))
  );
  color: var(--sds-c-inputtext-label-color, var(--sds-s-label-color));
}

[part='label'] {
  font-size: var(--sds-c-inputtext-label-font-size, var(--sds-s-label-font-size));
  font-weight: var(--sds-c-inputtext-label-font-weight, var(--sds-s-label-font-weight));
}

/**
 * Help text
 * ---
 * "visible" gets added when the slotchange confirms there are children
 * This prevents box-model customizations from being applied, in the case of no children
 */
[part='help-text visible'] {
  /* Need to tweak stylelint to merge new shared groups into existing set, helptext is not available */
  font-size: var(--sds-c-inputtext-helptext-font-size, var(--sds-s-helptext-font-size));
  color: var(--sds-c-inputtext-helptext-text-color, var(--sds-s-helptext-text-color));
  padding-inline-start: var(
    --sds-c-inputtext-helptext-spacing-inlinestart,
    var(--sds-c-inputtext-helptext-spacing-inline, var(--sds-s-helptext-spacing))
  );
  padding-inline-end: var(
    --sds-c-inputtext-helptext-spacing-inlineend,
    var(--sds-c-inputtext-helptext-spacing-inline, var(--sds-s-helptext-spacing))
  );
  padding-block-start: var(
    --sds-c-inputtext-helptext-spacing-blockstart,
    var(--sds-c-inputtext-helptext-spacing-block, var(--sds-s-helptext-spacing))
  );
  padding-block-end: var(
    --sds-c-inputtext-helptext-spacing-blockend,
    var(--sds-c-inputtext-helptext-spacing-block, var(--sds-s-helptext-spacing))
  );
}

/**
 * Disabled state
 */
:host([disabled]) {
  --sds-c-inputtext-color-background: var(
    --sds-c-inputtext-color-background-disabled,
    var(--sds-s-input-color-background-disabled)
  );
  --sds-c-inputtext-color-border: var(
    --sds-c-inputtext-color-border-disabled,
    var(--sds-s-input-color-border-disabled)
  );
}

/**
 * If told, the label will be hidden from view
 */
:host([label-hidden]) [part='label-container'] {
  position: absolute !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  text-transform: none !important;
  white-space: nowrap !important;
}
